body {
    font-family: Arial, sans-serif;
    background-color: #f5e1ce;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #171a4a;
    text-align: center;
}

form {
    background-color: #f5e1ce;
    border: 2px solid #171a4a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

input[type="number"],
input[type="submit"] {
    display: block;
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e8c39e2b;
}

input[type="submit"]:hover {
    background-color: #2f2c79;
}

input[type="submit"] {
    background-color: #171a4a;
    color: #e8c39e;
    border: none;
    cursor: pointer;
    font-weight: bolder;
}
